
.App {
  height:100%;
  text-align: center;
  background-color: rgb(247, 239, 226);
  color: rgb(163, 178, 179);
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 40px;
  letter-spacing: 2.5px;
}

h1 {
  margin-top: 0px;
  padding-top: 60px;
}

#store-card {
  border: 1px solid rgb(148, 160, 160);
  background:rgb(182, 197, 198);
  margin: 0px 22px 22px 22px;
  padding: 10px;
  /* line-height: 90%; */
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  color: rgb(86, 117, 120);
  box-shadow: 3px 6px rgb(189, 184, 184);
}

#store-name {
  font-size: 20px;
  color: rgb(78, 107, 109);
}

#store-pic {
  width: 300px;
}

#address {
  font-size: 18px;
}

#store-tele {
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

.zip-page {
  height: 100vh;
  font-size: 36px;
  margin-bottom: 30px;
  position: relative;
}

#enter-zip {
  position: realative;
  width: 100%;
  bottom: 30px;
}

#search {
  position: absolute;
  left: 70px;
  bottom: 10px;
}

.zip-image {
  margin-top: 15px;
  width: 95%;
  opacity: 0.8;
}

.zip-image2 {
  display: none;
  width: 55%;
  text-align: center;
  /* margin: 0 auto; */
  border: 16px solid white;
  position: absolute;
  right: 40%; 
  top: 100px; 
}

#zip_prompt {
  margin-bottom: 20px;
}

.zip-input { 
height: 30px;
width: 170px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: 'Cutive Mono', monospace;
font-size: 14px;
}

input{
  font-family: 'Cutive Mono', monospace;  
}

#search-button {
  border:1px solid grey;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  color: rgb(86, 117, 120);
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
  #search {
    left: 550px;
    bottom: -1300px;
  }

  #search {
  position: absolute;
  left: 70px;
  bottom: 10px;
  }

  .zip-image {
    display: none;
  }

  .zip-image2 {
    display: block;
  }


}