.App {
  height:100%;
  text-align: center;
  background-color: rgb(247, 239, 226);
  color: rgb(163, 178, 179);
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 40px;
  letter-spacing: 2.5px;
  margin-top: 0px;
  padding-top: 5px;
}

h1 {
  margin-top: 0px;
  padding-top: 60px;
}

#homescreen {
  height:100%;
  /* margin-top: 0px;
  padding-top: 0px; */
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 70px;
  background: linear-gradient(
  rgba(182, 197, 198, 0.3),
  rgba(12, 54, 57, 0.3)
  ), url('./img/stack.png');
  background-size: cover;
  min-height: 100vh;
}

.main-thrifty {
  text-decoration: none;
  color: rgb(86, 117, 120);
}

#store-card {
  border: 1px solid rgb(148, 160, 160);
  background:rgb(182, 197, 198);
  margin: 10px 22px 22px 22px;
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  color: rgb(86, 117, 120);
  box-shadow: 3px 6px rgb(189, 184, 184);
}

#store-name {
  font-size: 20px;
  color: rgb(78, 107, 109);
}

#store-pic {
  width: 300px;
}

#address {
  font-size: 18px;
}

#store-tele {
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

.zip-page {
  height: 100vh;
  font-size: 36px;
  margin-bottom: 30px;
  position: relative;
}

#enter-zip {
  position: relative;
  width: 100%;
  bottom: 30px;
}

#search {
  position: absolute;
  left: 70px;
  bottom: -40px;
}

.zip-image {
  margin-top: 15px;
  width: 95%;
  opacity: 0.8;
}

.zip-image2 {
  display: none;
}

#zip_prompt {
  margin-bottom: 20px;
}

.zip-input { 
height: 30px;
width: 170px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: 'Cutive Mono', monospace;
font-size: 14px;
}

input{
  font-family: 'Cutive Mono', monospace;  
}

#search-button {
  border:1px solid grey;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  color: rgb(86, 117, 120);
  margin-left: 10px;
}

.zipz {
  font-family: 'Sue Ellen Francisco', cursive;
  text-decoration: none;
  font-weight: bold;
  color: rgb(86, 117, 120);
  height: 100vh;
}

@media screen and (min-width: 600px) {

  #homescreen {
    font-size: 130px;
  }
  
  .zip-image {
    display: none;
  }
  
  .zip-page {
    height: 100vh;
    font-size: 36px;
    margin-top: 30px;
    position: relative;
  }
  
  .zip-image2 {
    display: block;
    margin-left: 10%;
    margin-top: 0;
    padding-top: 80px;
    width: 60%;
    margin: 0 auto;
  }

  #enter-zip {
    position: relative;
    width: 100%;
    bottom: -90px;
  }
  
  #zip-prompt {
    padding-top: 20px;
    position: relative;
    background-color: rgb(247, 239, 226);
  }
  
  #search {
    position: absolute;
    display: inline-block;
    left: 35%;
    bottom: 90px;
  }
  
}
